
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+10+Charted&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    
    /* 
    medidas absolutas cm, mm, in, px, pt, pc

    medidas relativas
    em relativo a altura M
    ex relativo a altura X
    rem 
    vw % largura da tela
    vh% altura da tela

    */

}
h1{
   font-family: 'work sans';
   color: blue;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;


}
p{
    /* font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
     font-style:normal;
    font-size: 1.5em; */
    text-align: justify;
    text-indent: 30px;
}
h1,h2{
    text-align: center;
    text-indent: 20px;
}