body{
    font-family: sans-serif;
}

a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: darkred;
}
a:hover{
    color: darkgreen;
    text-decoration: underline;
}
a::after{
    content: '              Visite nossa Página';
    text-decoration: none;
    font-weight: normal;
    background-color: darkred;
    color: white;

}